<app-employees></app-employees>
<!-- <div class="row">
  <div class="col-6">col 6</div>
  <div class="col-6">col 6</div>
</div>
<div class="row">
  <div class="col-3">col31</div>
  <div class="col-3">col32</div>
  <div class="col-3 row" style="border: 1px solid purple; margin: 0px">
    <div class="col-6" style="border: 1px solid green; font-size: 10px"> word</div>
    <div class="col-6" style="border: 1px solid green"></div>
    <div class="col-12" style="border: 1px solid blue">
      more words
    </div>
  </div>
  <div class="col-3">col34</div>
</div> -->